:root {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  height: 100vh;
  width: 100%;
}

.footer-menu {
  background: #000;
  border-top: 1px solid #fff;
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  z-index: 5;
}

.footer-menu ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 12px 0;
}

.footer-menu ul li {
  list-style: none;
  cursor: pointer;
}

.footer-menu ul #hamburger {
  height: 20px;
  width: 25px;
  margin-top: 3.5px;
}

.footer-menu ul #hamburger div {
  width: 25px;
  height: 2px;
  background: #fff;
  margin-bottom: 5px;
}

.footer-menu ul #hamburger div.hidden-on-active {
  -webkit-transform: scale(2);
          transform: scale(2);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer-menu ul #phone {
  height: 22px;
  width: 15px;
  background: url("../img/phone_icon.svg");
  background-size: cover;
}

.footer-menu ul #mail {
  height: 16px;
  width: 25px;
  background: url("../img/mail_icon.svg");
  background-size: cover;
}

@media (min-width: 1000px) {
  .footer-menu {
    height: 100%;
    width: 50px;
    border-right: 1px solid #fff;
  }
  .footer-menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 30%;
    margin: 0;
  }
  .footer-menu ul #phone {
    opacity: 0;
    cursor: default;
  }
}

.side-menu {
  height: calc(100% - 50px);
  width: 250px;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 4;
  left: -250px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.side-menu .side-menu-link {
  color: #fff;
  font-family: 'American Typewriter';
  font-size: 1.5625rem;
  letter-spacing: 3.5px;
  max-width: 60%;
  margin: 12px 0;
  text-align: center;
}

.side-menu .side-menu-link:hover {
  color: #000;
}

.side-menu-open {
  left: 0px;
}

@media (min-width: 1000px) {
  .side-menu {
    height: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .side-menu .side-menu-link {
    margin: 25px 0 15px 50px;
  }
}

.home-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-container #home-logo {
  height: 200px;
  width: 200px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("../img/round_logo.png");
  background-size: contain;
  z-index: 5;
}

.home-container .left-section, .home-container .right-section {
  height: 100%;
  width: 50%;
}

.home-container .section-overlay {
  background: rgba(0, 0, 0, 0.55);
  height: 100%;
  width: 50%;
  position: absolute;
}

.home-container .section-text {
  width: 100%;
  height: 50%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 50%;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
}

.home-container .section-text h1 {
  font-family: 'American Typewriter';
  color: #F0F0F0;
  font-weight: 400;
  font-size: 3.875rem;
  letter-spacing: 6px;
  text-align: center;
  z-index: 4;
}

.home-container .section-text a {
  height: 70px;
  width: 70px;
  display: inherit;
  margin: 0 auto;
  z-index: 4;
}

.home-container .section-text a img {
  height: 70px;
  width: 70px;
}

.home-container .left-section {
  background: url("../img/home-left-image.JPG");
  background-size: cover;
  background-position: center;
  border-right: 2px solid #fff;
}

.home-container .right-section {
  background: url("../img/home-right-image.jpg");
  background-size: cover;
  background-position: center;
}

@media (max-width: 1000px) {
  .home-container {
    height: 550px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home-container #home-logo {
    height: 120px;
    width: 120px;
  }
  .home-container .left-section, .home-container .right-section {
    height: 50%;
    width: 100%;
  }
  .home-container .left-section h1, .home-container .right-section h1 {
    font-size: 2rem;
  }
  .home-container .section-overlay {
    width: 100%;
    height: inherit;
  }
  .home-container .section-text {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-container .section-text h1 {
    margin-left: 50px;
  }
  .home-container .section-text a {
    height: 40px;
    width: 40px;
    margin: 0 20px;
  }
  .home-container .section-text a img {
    height: 40px;
    width: 40px;
  }
  .home-container .left-section {
    border-bottom: 2px solid #fff;
    border-right: none;
  }
}
