@import url("https://fonts.googleapis.com/css2?family=Cutive&display=swap");
:root {
  font-size: 16px;
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  height: 100vh;
  width: 100%;
}

.footer-menu {
  background: #000;
  border-top: 1px solid #F0F0F0;
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  z-index: 6;
}
.footer-menu ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 12px 0;
}
.footer-menu ul li {
  list-style: none;
  cursor: pointer;
}
.footer-menu ul #hamburger {
  height: 20px;
  width: 25px;
  margin-top: 3.5px;
}
.footer-menu ul #hamburger div {
  width: 25px;
  height: 2px;
  background: #F0F0F0;
  margin-bottom: 5px;
}
.footer-menu ul #hamburger div.hidden-on-active {
  transform: scale(2);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.footer-menu ul #phone {
  height: 22px;
  width: 15px;
  background: url("../img/phone_icon.svg");
  background-size: cover;
}
.footer-menu ul #mail {
  height: 16px;
  width: 25px;
  background: url("../img/mail_icon.svg");
  background-size: cover;
}

@media (min-width: 1000px) {
  .footer-menu {
    height: 100%;
    width: 50px;
    border-right: 1px solid #F0F0F0;
  }
  .footer-menu ul {
    flex-direction: column;
    height: 30%;
    margin: 0;
  }
  .footer-menu ul #phone {
    opacity: 0;
    cursor: default;
  }
}
.side-menu {
  height: calc(100% - 50px);
  width: 250px;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  z-index: 5;
  left: -250px;
  transition: all 0.3s ease-in-out;
}
.side-menu :last-of-type {
  padding-bottom: 20px;
}
.side-menu .side-menu-link {
  color: #F0F0F0;
  font-family: "Cutive";
  font-size: 1.5rem;
  letter-spacing: 3.5px;
  max-width: 60%;
  margin: 12px 0;
  text-align: center;
}
.side-menu .side-menu-link:hover {
  color: #222;
}

.side-menu-open {
  left: 0px;
}

@media (min-width: 1000px) {
  .side-menu {
    height: 100%;
    justify-content: flex-start;
  }
  .side-menu .side-menu-link {
    margin: 25px 0 15px 50px;
  }
}
.home-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
}
.home-container #home-logo {
  height: 200px;
  width: 200px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("../img/round_logo.png");
  background-size: contain;
  z-index: 4;
  cursor: pointer;
}
.home-container .left-section, .home-container .right-section {
  height: 100%;
  width: 50%;
}
.home-container .section-overlay {
  background: rgba(0, 0, 0, 0.55);
  height: 100%;
  width: 50%;
  position: absolute;
}
.home-container .section-text {
  width: 100%;
  height: 50%;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 50%;
  transform: translatey(-50%);
}
.home-container .section-text h1 {
  font-family: "Cutive";
  color: #F0F0F0;
  font-weight: 400;
  font-size: 3.875rem;
  letter-spacing: 6px;
  text-align: center;
  z-index: 4;
}
.home-container .section-text a {
  height: 70px;
  width: 70px;
  display: inherit;
  margin: 0 auto;
  z-index: 4;
  cursor: pointer;
}
.home-container .section-text a img {
  height: 70px;
  width: 70px;
}
.home-container .left-section {
  background: url("../img/home-left-image.JPG");
  background-size: cover;
  background-position: center;
  border-right: 2px solid #F0F0F0;
}
.home-container .right-section {
  background: url("../img/home-right-image.jpg");
  background-size: cover;
  background-position: center;
}

@media (max-width: 1000px) {
  .home-container {
    min-height: 500px;
    flex-direction: column;
  }
  .home-container #home-logo {
    height: 120px;
    width: 120px;
  }
  .home-container .left-section, .home-container .right-section {
    height: 50%;
    width: 100%;
  }
  .home-container .left-section h1, .home-container .right-section h1 {
    font-size: 2rem;
  }
  .home-container .section-overlay {
    width: 100%;
    height: inherit;
  }
  .home-container .section-text {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .home-container .section-text h1 {
    margin-left: 50px;
  }
  .home-container .section-text a {
    height: 40px;
    width: 40px;
    margin: 0 20px;
  }
  .home-container .section-text a img {
    height: 40px;
    width: 40px;
  }
  .home-container .left-section {
    border-bottom: 2px solid #F0F0F0;
    border-right: none;
  }
}
.milling-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  background: #F0F0F0;
  overflow: hidden;
}
.milling-container p {
  font-family: Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
}
.milling-container .info-section, .milling-container .gallery {
  width: 50%;
  margin: 3% 0;
}
.milling-container .info-section {
  border-right: 2px solid #000;
  overflow: auto;
  padding-right: 20px;
}
.milling-container .info-text {
  width: 80%;
  margin: 0 50px 0 100px;
  padding-bottom: 10px;
}
.milling-container .info-text .heading {
  display: flex;
}
.milling-container .info-text .heading a {
  height: 40px;
  width: 40px;
}
.milling-container .info-text .heading a img {
  height: 40px;
  width: 40px;
}
.milling-container .info-text .heading h1 {
  font-family: "Cutive";
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: 4px;
  margin: 0 0 0 20px;
  align-self: center;
}
.milling-container .info-text p {
  font-size: 1.125rem;
  letter-spacing: 4px;
}
.milling-container .info-bullets {
  width: 80%;
  height: 55%;
  margin: 0 50px 0 100px;
  display: flex;
  flex-direction: column;
}
.milling-container .info-bullets .info-bullet-item {
  display: flex;
  align-items: center;
}
.milling-container .info-bullets .info-bullet-item img {
  margin-right: 20px;
  height: 40px;
}
.milling-container .info-bullets .info-bullet-item p {
  font-size: 1.0625rem;
  letter-spacing: 2px;
}
.milling-container .gallery {
  overflow: auto;
}
.milling-container .gallery .gallery-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}
.milling-container .gallery .gallery-container li {
  list-style: none;
  height: 40vh;
  flex-grow: 1;
  margin: 1px;
}
.milling-container .gallery .gallery-container li img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

@media (max-width: 1000px) {
  .milling-container {
    height: auto;
    flex-direction: column;
  }
  .milling-container .info-section, .milling-container .gallery {
    height: 100%;
    width: 100%;
  }
  .milling-container .info-text {
    height: auto;
    margin: 10px auto;
  }
  .milling-container .info-text .heading a {
    height: 30px;
    width: 30px;
  }
  .milling-container .info-text .heading a img {
    height: 30px;
    width: 30px;
  }
  .milling-container .info-text .heading h1 {
    font-size: 1.375rem;
    letter-spacing: 4px;
    margin: 0 0 0 20px;
  }
  .milling-container .info-text p {
    font-size: 1rem;
    letter-spacing: 3.5px;
  }
  .milling-container .info-bullets {
    width: 80%;
    height: 50%;
    margin: 0 auto;
    padding-bottom: 25px;
  }
  .milling-container .info-bullets .info-bullet-item {
    margin: 0;
    align-items: center;
    justify-content: space-around;
  }
  .milling-container .info-bullets .info-bullet-item img {
    width: 20%;
    margin: 0 5% 0 0;
  }
  .milling-container .info-bullets .info-bullet-item p {
    width: 75%;
    font-size: 0.9rem;
    letter-spacing: 1.8px;
  }

  .gallery {
    padding-bottom: 50px;
    /*Padding to move bottom above mobile menu bar*/
  }
}
.furniture-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  background: #F0F0F0;
  overflow: hidden;
}
.furniture-container p {
  font-family: Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
}
.furniture-container .furniture-info-section, .furniture-container .furniture-gallery {
  height: 94%;
  width: 50%;
  margin: 3% 0;
}
.furniture-container .furniture-info-section {
  border-right: 2px solid #000;
  overflow: auto;
}
.furniture-container .furniture-info-section .furniture-info-text {
  width: 80%;
  margin: 0 50px 0 100px;
  padding-bottom: 25px;
}
.furniture-container .furniture-info-section .furniture-info-text .furniture-heading {
  display: flex;
}
.furniture-container .furniture-info-section .furniture-info-text .furniture-heading a {
  height: 40px;
  width: 40px;
}
.furniture-container .furniture-info-section .furniture-info-text .furniture-heading a img {
  height: 40px;
  width: 40px;
}
.furniture-container .furniture-info-section .furniture-info-text .furniture-heading h1 {
  font-family: "Cutive";
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: 4px;
  margin: 0 0 0 20px;
  align-self: center;
}
.furniture-container .furniture-info-section .furniture-info-text #furniture-etsy-link {
  margin: 0 20px 0 0;
}
.furniture-container .furniture-info-section .furniture-info-text p {
  font-size: 1.125rem;
  letter-spacing: 4px;
}
.furniture-container .furniture-info-section .featured-gallery {
  width: 80%;
  margin: 3% auto;
}
.furniture-container .furniture-info-section .featured-gallery .featured-gallery-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.furniture-container .furniture-info-section .featured-gallery .featured-gallery-container li {
  list-style: none;
  height: 30vh;
  flex-grow: 1;
  margin: 1px;
}
.furniture-container .furniture-info-section .featured-gallery .featured-gallery-container li img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}
.furniture-container .furniture-gallery {
  overflow: auto;
}
.furniture-container .furniture-gallery .furniture-gallery-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}
.furniture-container .furniture-gallery .furniture-gallery-container li {
  list-style: none;
  height: 40vh;
  flex-grow: 1;
  margin: 1px;
}
.furniture-container .furniture-gallery .furniture-gallery-container li img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

@media (max-width: 1000px) {
  .furniture-container {
    height: auto;
    flex-direction: column;
  }
  .furniture-container .furniture-info-section, .furniture-container .furniture-gallery {
    height: 100%;
    width: 100%;
  }
  .furniture-container .furniture-info-section .furniture-info-text {
    height: auto;
    margin: 10px auto;
  }
  .furniture-container .furniture-info-section .furniture-info-text .furniture-heading a {
    height: 30px;
    width: 30px;
  }
  .furniture-container .furniture-info-section .furniture-info-text .furniture-heading a img {
    height: 30px;
    width: 30px;
  }
  .furniture-container .furniture-info-section .furniture-info-text .furniture-heading h1 {
    font-size: 1.375rem;
    letter-spacing: 4px;
    margin: 0 0 0 20px;
  }
  .furniture-container .furniture-info-section .furniture-info-text p {
    font-size: 1rem;
    letter-spacing: 3.5px;
  }
  .furniture-container .furniture-info-section .featured-gallery {
    height: auto;
    width: 100%;
    padding-bottom: 25px;
  }
  .furniture-container .furniture-info-section .featured-gallery .featured-gallery-container {
    padding: 0;
  }

  .furniture-gallery {
    padding-bottom: 50px;
    /*Padding to move bottom above mobile menu bar*/
  }
}
.contact-container {
  position: relative;
  height: 100%;
  width: 100%;
  background: #F0F0F0;
  display: flex;
}
.contact-container p, .contact-container .contact-link {
  font-family: Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
}
.contact-container .contact-section {
  height: 100%;
  width: 50%;
  margin: 3% 0;
}
.contact-container .contact-section .contact-text {
  width: 80%;
  height: 100%;
  margin: 0 50px 0 100px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.contact-container .contact-section .contact-text .contact-heading {
  display: flex;
}
.contact-container .contact-section .contact-text .contact-heading a {
  height: 40px;
  width: 40px;
}
.contact-container .contact-section .contact-text .contact-heading a img {
  height: 40px;
  width: 40px;
}
.contact-container .contact-section .contact-text .contact-heading h1 {
  font-family: "Cutive";
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: 4px;
  margin: 0 0 0 20px;
  align-self: center;
}
.contact-container .contact-section .contact-text #contact-phone-icon {
  height: 22px;
  width: 15px;
}
.contact-container .contact-section .contact-text #contact-mail-icon {
  height: 16px;
  width: 25px;
}
.contact-container .contact-section .contact-text #contact-globe-icon {
  height: 23px;
  width: 22px;
}
.contact-container .contact-section .contact-text .contact-link-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.contact-container .contact-section .contact-text .contact-link-item .contact-link {
  margin-left: 10px;
  text-decoration: none;
  font-size: 1.125rem;
  letter-spacing: 2.5px;
  color: #555;
}
.contact-container .contact-section .contact-text .contact-link-item .contact-link:hover {
  color: #999;
}
.contact-container .contact-section .contact-text p {
  font-size: 1.125rem;
  letter-spacing: 4px;
}

@media (max-width: 1000px) {
  .contact-container {
    height: 100%;
  }
  .contact-container .contact-section {
    height: 100%;
    width: 100%;
  }
  .contact-container .contact-section .contact-text {
    height: auto;
    margin: 10px auto;
  }
  .contact-container .contact-section .contact-text .contact-heading a {
    height: 30px;
    width: 30px;
  }
  .contact-container .contact-section .contact-text .contact-heading a img {
    height: 30px;
    width: 30px;
  }
  .contact-container .contact-section .contact-text .contact-heading h1 {
    font-size: 1.375rem;
    letter-spacing: 4px;
    margin: 0 0 0 20px;
  }
  .contact-container .contact-section .contact-text .contact-link-item .contact-link {
    font-size: 1rem;
    letter-spacing: 3.5px;
  }
  .contact-container .contact-section .contact-text p {
    font-size: 1rem;
    letter-spacing: 3.5px;
  }
}

/*# sourceMappingURL=main.css.map */
