.home-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;

    #home-logo {
        height: 200px;
        width: 200px;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: url('../img/round_logo.png');
        background-size: contain;
        z-index: 4;
        cursor: pointer;
    }

    .left-section, .right-section {
        height: 100%;
        width: 50%;
    }

    .section-overlay {
        background: rgba(0, 0, 0, 0.55);
        height: 100%;
        width: 50%;
        position: absolute;
    }

    .section-text {
        width: 100%;
        height: 50%;
        margin: 0;
        display: flex;
        flex-direction: column;
        @include vertical-centre;

        h1 {
            font-family: 'American Typewriter';
            color: $off-white;
            font-weight: 400;
            font-size: 3.875rem;
            letter-spacing: 6px;
            text-align: center;
            z-index: 4;
        }

        a {
            height: 70px;
            width: 70px;
            display: inherit;
            margin: 0 auto;
            z-index: 4;
            cursor: pointer;

            img {
                height: 70px;
                width: 70px;
                
            }
        }
    }
    
    .left-section {
        background: url('../img/home-left-image.JPG');
        background-size: cover;
        background-position: center;
        border-right: 2px solid $off-white;
    }
    
    .right-section {
        background: url('../img/home-right-image.jpg');
        background-size: cover;
        background-position: center;
    }
}

@media (max-width: 1000px) {
    .home-container {
        min-height: 500px;
        flex-direction: column;

        #home-logo {
            height: 120px;
            width: 120px;
        }

        .left-section, .right-section {
            height: 50%;
            width: 100%;

            h1 {
                font-size: 2rem;
            }
        }

        .section-overlay {
            width: 100%;
            height: inherit;
        }

        .section-text {
            flex-direction: row;
            align-items: center;
            justify-content: center;

            h1 {
                margin-left: 50px;
            }

            a {
                height: 40px;
                width: 40px;
                margin: 0 20px;

                img {
                    height: 40px;
                    width: 40px;
                }
            }
        }

        .left-section {
            border-bottom: 2px solid $off-white;
            border-right: none;
        }
    }
}