.milling-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    background: $off-white;
    overflow: hidden;

    p {
        font-family: Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 400;
    }

    .info-section, .gallery {
        width: 50%;
        margin: 3% 0;
    }

    .info-section {
        border-right: 2px solid #000;
        overflow: auto;
        padding-right: 20px;
    }

    .info-text {
        width: 80%;
        margin: 0 50px 0 100px;
        padding-bottom: 10px;

        .heading {
            display: flex;

            a {
                height: 40px;
                width: 40px;

                img {
                    height: 40px;
                    width: 40px;
                }
            }

            h1 {
                font-family: 'American Typewriter';
                font-weight: 400;
                font-size: 1.875rem;
                letter-spacing: 4px;
                margin: 0 0 0 20px;
            }
        }

        p {
            font-size: 1.125rem;
            letter-spacing: 4px;
        }
    }

    .info-bullets {
        width: 80%;
        height: 55%;
        margin: 0 50px 0 100px;
        display: flex;
        flex-direction: column;

        .info-bullet-item {
            display: flex;
            align-items: center;

            img {
                margin-right: 20px;
                height: 40px;
            }

            p {
                font-size: 1.0625rem;
                letter-spacing: 2px;
            }
        }
    }

    .gallery {
        overflow: auto;

        .gallery-container {
            width: 90%;
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto;
            padding: 0;
            overflow: hidden;
    
            li {
                list-style: none;
                height: 40vh;
                flex-grow: 1;
                margin: 1px;
    
                img {
                    max-height: 100%;
                    min-width: 100%;
                    object-fit: cover;
                    vertical-align: bottom;
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .milling-container {
        height: auto;
        flex-direction: column;

        .info-section, .gallery {
            height: 100%;
            width: 100%;
        }

        .info-text {
            height: auto;
            margin: 10px auto;

            .heading {
                a {
                    height: 30px;
                    width: 30px;
    
                    img {
                        height: 30px;
                        width: 30px;
                    }
                }

                h1 {
                    font-size: 1.375rem;
                    letter-spacing: 4px;
                    margin: 0 0 0 20px;
                }
            }

            p {
                font-size: 1rem;
                letter-spacing: 3.5px;
            }
        }

        .info-bullets {
            width: 80%;
            height: 50%;
            margin: 0 auto;
            padding-bottom: 25px;

            .info-bullet-item {
                margin: 0;
                align-items: center;
                justify-content: space-around;

                img {
                    width: 20%;
                    margin: 0 5% 0 0;
                }

                p {
                    width: 75%;
                    font-size: 0.9rem;
                    letter-spacing: 1.8px;
                }
            }
        }
    }

    .gallery {
        padding-bottom: 50px; /*Padding to move bottom above mobile menu bar*/
    }
}